/* btns */
div.tab.all_accounts > ul.accounts > div.account > div.buttons {
    position: absolute;
    right: 0;
    top: 2rem;
}
div.tab.all_accounts > ul.accounts > div.account > div.buttons > button {
    padding: 0.5rem;
    position: relative;
}
div.tab.all_accounts > ul.accounts > div.account > div.buttons > button.edit {
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, fill 0.2s ease-in-out;
}
div.tab.all_accounts > ul.accounts > div.account > div.buttons > button.edit > svg {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    position: absolute;
    width: calc(100% - 1rem);
    top: 0rem;
    left: 0.5rem;
}