/* account block list */
div.tab.all_accounts > ul.accounts {
    overflow: hidden;
    height: auto;
}

/* account block */
div.tab.all_accounts > ul.accounts > div.account {
    padding: 2rem 0;
    position: relative;
    border-bottom: 1px solid var(--light-color);
}