/* edit section */
div.tab.all_accounts > ul.accounts > div.account > section.edit div.editor_container {
  width: 100%;
  height: 26rem;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #e1e1e1; */
  border-radius: 4px;
  font-size: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.4rem var(--supermedium-color);
  background-color: #1e1e1e;
  transition: box-shadow 0.25s;

  /* width to compensate for account btns width */
  width: calc(100% - 6.5rem);
  max-width: calc(100% - 6.5rem);
}

/* focused style, .focused class toggled with JS */
div.tab.all_accounts > ul.accounts > div.account > section.edit div.editor_container.focused {
  border-color: var(--medium-color);
  box-shadow: 0 0.1rem 0.6rem var(--regular-color);
}

/* container to add padding to editor */
div.tab.all_accounts > ul.accounts > div.account > section.edit div.editor_container div.editor_padding {
  width: 100%;
  height: 24rem;
  margin: 1rem 0;
  position: relative;
}

/* editor styles */
div.tab.all_accounts > ul.accounts > div.account > section.edit div.editor_container div.editor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
}
div.tab.all_accounts > ul.accounts > div.account > section.edit div.editor_container div.editor.loaded {
  opacity: 1;
}
