/*
    This file contains styles for the app (main) screen.
*/

/* appscreen main area */
body > div.container > div.app {
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 0 2rem var(--shadow-color);
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

/* code default styles (some code here taken from Dave Gamache in Skeleton CSS at http://getskeleton.com/ */
.default_style_code {
    box-sizing: border-box;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .35rem;
    font-size: 75%;
    white-space: nowrap;
    /*background: #F1F1F1;*/
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    -webkit-font-smoothing: antialiased;
    vertical-align: text-bottom;
}
.default_style_code_container > .default_style_code {
    display: block;
    padding: 1rem 1rem;
    white-space: pre;
}

/* button default style */
.default_style_button {
    float: right;
    height: 2.5rem;
    width: 2.5rem;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--submedium-color);
}
.default_style_button.with_hover {
    transition: background-color 0.2s ease-in-out;
}
.default_style_button.with_hover:hover {
    background-color: var(--submedium-color);
}
.default_style_button.with_icon {
    fill: var(--dark-color);
    box-sizing: border-box;
    padding: 0.65rem;
}
.default_style_button.with_icon > svg {
    width: 100%;
    height: 100%;
}

/* exit vault btn */
body > div.container > div.app > button.exit_vault {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    width: 3.5rem;
    margin-bottom: 1rem;
}
body > div.container > div.app > button.exit_vault > svg {
    transform: scale(1.25);
}

/* nav/top bar */
body > div.container > div.app > nav {
    border-bottom: 1px solid var(--light-color);
    user-select: none;
    height: 3rem;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 2;
    padding: 1rem 0;
    transition: padding 0.25s, margin-bottom 0.25s;
    margin-bottom: 0;
    /*box-shadow: 0 0 0.5rem var(--shadow-color);*/
}
body > div.container > div.app > nav.not_top {
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
}

body > div.container > div.app > nav > h1.title {
    font-size: 2.65rem;
    line-height: 3rem;
    font-weight: 700;
    float: left;
    transition: font-size 0.25s;
}
body > div.container > div.app > nav.not_top > h1.title {
    font-size: 2rem;
}


body > div.container > div.app > nav > div.row {
    float: right;
    padding: 0.25rem 0;
    box-sizing: border-box;
    height: 3rem;
}

/* input */
body > div.container > div.app > nav > div.row > input[type=text] {
    font-size: 0.95rem;
    box-sizing: border-box;
    transition: width 0.375s, padding-left 0.375s, padding-right 0.375s, border-color 0.375s ease-in-out, background-image 0.375s;
}
body > div.container > div.app > nav > div.row > input[type=text]::placeholder, body > div.container > div.app > nav > div.row > input[type=text]:not(:focus) {
    color: var(--medium-color);
}
body > div.container > div.app > nav > div.row > input[type=text]:not(:focus) {
    padding-right: 0;
    padding-left: 2.5rem;
    background-image: url(../img/search_icon.png);
    background-size: 1.2rem;
    background-position: 0.65rem;
    background-repeat: no-repeat;
}
body > div.container > div.app > nav > div.row > input[type=text]:focus::placeholder {
    color: var(--supermedium-color);
}
body > div.container > div.app > nav > div.row > input[type=text]:focus {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    width: 12.5rem;
    cursor: text;
    border-color: var(--text-color);
}

/* search functionality */
body > div.container > div.app > nav > h1.title > span {
    display: none;
}
body > div.container > div.app.searching > nav > h1.title > span.searching {
    display: inline;
}
body > div.container > div.app:not(.searching) > nav > h1.title > span.all {
    display: inline;
}
body > div.container > div.app.searching > ul.accounts > div.account:not(.displayed) {
    display: none;
}
body > div.container > div.app > p.no_results_found {
    display: none;
    margin-top: 2rem;
}
body > div.container > div.app.searching.no_results > p.no_results_found {
    display: block;
}

/* account blocks */
body > div.container > div.app > ul.accounts {
    overflow: hidden;
    height: auto;
}
body > div.container > div.app > ul.accounts > div.account {
    padding: 2rem 0;
    position: relative;
    border-bottom: 1px solid var(--light-color);
}

/* btns */
body > div.container > div.app > ul.accounts > div.account > div.buttons {
    position: absolute;
    right: 0;
    top: 2rem;
}
body > div.container > div.app > ul.accounts > div.account > div.buttons > button {
    padding: 0.5rem;
    position: relative;
}
body > div.container > div.app > ul.accounts > div.account > div.buttons > button.edit {
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, fill 0.2s ease-in-out;
}
body > div.container > div.app > ul.accounts > div.account > div.buttons > button.edit > svg {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    position: absolute;
    width: calc(100% - 1rem);
    top: 0rem;
    left: 0.5rem;
}

/* edit btn functionality */
body > div.container > div.app > ul.accounts > div.account.editing > section.display {
    display: none;
}
body > div.container > div.app > ul.accounts > div.account:not(.editing) > section.edit {
    display: none;
}

body > div.container > div.app > ul.accounts > div.account:not(.editing) > div.buttons > button.edit > svg.done_editing {
    opacity: 0;
}
body > div.container > div.app > ul.accounts > div.account.editing > div.buttons > button.edit > svg.edit {
    opacity: 0;
}

body > div.container > div.app > ul.accounts > div.account.editing > div.buttons > button.edit {
    fill: #fff;
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

/* display section */
body > div.container > div.app > ul.accounts > div.account > section.display > h1.account_name {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    width: calc(100% - 6rem);
}
body > div.container > div.app > ul.accounts > div.account > section.display ul {
    list-style: none;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul ul {
    margin-left: 2.5rem;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li {
    width: 100%;
    min-height: 2rem;
    padding: 0.375rem 0;
    border-left: 1px solid var(--light-color);
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > p {
    display: block;
    float: left;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > p.name {
    width: 10rem;
    padding-right: 1rem;
    box-sizing: border-box;
    text-align: right;
    vertical-align: text-bottom;
    line-height: 2rem;
    user-select: none;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li.subobj_label > p.name {
    font-weight: 600;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > p.value {
    line-height: 2rem;
    min-height: 2rem;
    padding: 0 .5rem;
}
/* copy btn */
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > button.copy_property_btn {
    height: 1rem;
    margin: 0.5rem;
    margin-left: 0.75rem;
    width: 1rem;
    border: none;
    background-color: transparent;
    fill: var(--medium-color);
    transition: fill 0.1s ease-in-out;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > button.copy_property_btn:hover {
    fill: var(--regular-color);
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > button.copy_property_btn > svg {
    width: 100%;
    height: 100%;
}
body > div.container > div.app > ul.accounts > div.account > section.display ul > li > button.copy_property_btn:not(.active_tooltip):before, body > div.container > div.app > ul.accounts > div.account > section.display ul > li > button.copy_property_btn:not(.active_tooltip):after {
    opacity: 0;
}

/* edit section */
body > div.container > div.app > ul.accounts > div.account > section.edit > textarea {
    width: calc(100% - 6rem);
    max-width: calc(100% - 6rem);
    resize: none;
    transition: border-color 0.25s ease-in-out;
    overflow-y: hidden;
}
body > div.container > div.app > ul.accounts > div.account > section.edit > textarea:focus {
    border-color: var(--text-color);
}