/* nav/top bar */
div.tab > nav {
    border-bottom: 1px solid var(--light-color);
    user-select: none;
    height: 3rem;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 9999;
    padding: 1rem 0;
    transition: padding 0.25s, margin-bottom 0.25s;
    margin-bottom: 0;
}

/* nav left area with title */
div.tab > nav > h1.title {
    font-size: 2.65rem;
    line-height: 3rem;
    font-weight: 700;
    float: left;
    transition: transform 0.25s;
    transform-origin: 0 center;
}

/* nav right side w/e.g. buttons, etc. */
div.tab > nav > div.row {
    float: right;
    padding: 0.25rem 0;
    box-sizing: border-box;
    height: 3rem;
}

/* nav not top (toggled with JS) styles */
div.tab > nav.not_top {
    padding: 0.25rem 0;
    margin-bottom: 1.5rem;
}

div.tab > nav.not_top > h1.title {
    transform: scale(0.7);
}