.tab_select > .exit_vault_container {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1.25rem;
}
.tab_select > .exit_vault_container > button {
  display: inline-block;
  float: none;
  margin: 0;
}
