div.tabs {
  width: calc(100% - var(--tabselect-width));
  height: var(--container-height);
  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

div.container:not(.resizing) div.tabs {
  transition: width cubic-bezier(0.7, 0, 0.3, 1) 0.4s;
}
