/* tab select buttons */
.tab_select > li {
  --tabselect-btn-height: 2.5rem;
  --tabselect-btn-vertical-padding: 0.25rem;
  --icon-width: 2.5rem;
  --icon-margin: 0.25rem;

  display: block;
  float: left;
  box-sizing: border-box;
  height: calc(var(--tabselect-btn-height) + (2 * var(--tabselect-btn-vertical-padding)));
  width: 100%;
  overflow: hidden;
  padding: var(--tabselect-btn-vertical-padding) 1.4rem var(--tabselect-btn-vertical-padding) 0.75rem;
  cursor: default;
}

/* button when active */
.tab_select > li.active {
  background-color: var(--submedium-color);
}

/* button icon and text */
.tab_select > li > * {
  display: block;
  float: left;
  box-sizing: border-box;

  height: var(--tabselect-btn-height);
  line-height: var(--tabselect-btn-height);
}

/* button icon */
.tab_select > li > div.icon {
  width: var(--icon-width);
  padding: 0.65rem;
  margin-right: var(--icon-margin);
}
.tab_select > li > div.icon > svg {
  height: 100%;
  width: 100%;
  float: left;
  fill: var(--dark-color);
}

/* button text */
.tab_select > li > h2 {
  width: calc(100% - var(--icon-width) - var(--icon-margin));
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3rem;
  letter-spacing: -0.01rem;

  font-weight: 600;
}

/* selected tabs */
.tab_select > li:nth-child(1) {
  --active-color: var(--green-color);
}
.tab_select > li:nth-child(2) {
  --active-color: var(--blue-color);
}
.tab_select > li:nth-child(3) {
  --active-color: var(--red-color);
}

.tab_select > li.active > div.icon > svg {
  fill: var(--active-color);
}
.tab_select > li.active > h2 {
  color: var(--active-color);
}
