/* form styles */

/* form */
div.auth > div.form {
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 0 0.75rem 2rem var(--shadow-color);
  width: 25rem;
  border-radius: 4px;
  margin-bottom: calc((100vh - var(--container-height)) / 2 + 1.5vh);
  transform: scale(1.05);
}
div.auth > div.form.create_vault {
  width: 28rem;
}

/* form header */
div.auth > div.form > h1 {
  font-size: 3rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0.5rem;
}
