div.tab.pwd_generator .main .copy_pwd_btn {
  display: block;
  width: 1.3rem;
  flex-basis: 1.3rem;
  height: 1.3rem;
  box-sizing: content-box;
  margin: calc((3.5rem - 1.3rem) / 2) calc((3.5rem - 1.3rem) / 2);
  margin-right: 0;
}
