div.tab.pwd_generator .main .password_length {
  text-align: center;
  margin-top: 1rem;
  overflow: hidden;
  font-size: 0;
}
div.tab.pwd_generator .main .password_length > * {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  height: 1.75rem;
  line-height: 1.75rem;
}
div.tab.pwd_generator .main .password_length > *:not(:last-child) {
  margin-right: 0.5rem;
}
