div.topbar_draggable {
    -webkit-app-region: drag;

    height: 2.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--submedium-color);
    border-bottom: 1px solid var(--somewhat-submedium-color);

    opacity: .6;
}
body.window_focused div.topbar_draggable {
    opacity: 1;
}