/* root CSS variables */
:root {
  --regular-color: #78909c;

  --dark-color: #37474f;

  --light-color: #eceff1;
  --lighter-color: #f3f5f6;

  --medium-color: #b0bec5;
  --somewhat-submedium-color: #d5dbde;
  --submedium-color: #dde3e6;
  --supermedium-color: #90a4ae;

  --red-color: #e74c3c;
  --red-medium-color: #f5b6af;

  --blue-color: #28f;

  --shadow-color: rgba(55, 71, 79, 0.225);
}
