div.tab.pwd_generator {
  --balloon-color: var(--blue-color);
  --icon-hover-color: var(--blue-color);
  --white: rgba(255, 255, 255, 0.97);
  --bg-url: url(../../../../img/pwd_generator_bg.png);
}
div.tab.pwd_generator .main {
  margin-top: 2rem;
}

div.tab.pwd_generator .main .row {
  display: flex;
  clear: both;
  margin-top: 3rem;
}
div.tab.pwd_generator .main .row:after {
  content: '';
  clear: both;
  display: table;
}
