div.tab.pwd_generator .main .password_length {
  text-align: center;
  margin-top: 1rem;
  overflow: hidden;
  font-size: 0;
}
div.tab.pwd_generator .main .password_length > * {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
div.tab.pwd_generator .main .password_length > *:not(:last-child) {
  margin-right: 0.5rem;
}
div.tab.pwd_generator .main .password_length > p {
  opacity: 0.5;
}
div.tab.pwd_generator .main .password_length > input {
  transition: border-color 0.2s ease-in-out;
  width: 5.5rem;
}
div.tab.pwd_generator .main .password_length > input:focus {
  border-color: var(--medium-color);
}
